* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


}

.card-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    min-height: 864px;
    margin-left: 20px;
    margin-left: 150px;


}

.card {
    width: 400px;
    height: 432px;
    background-color: #fff;
    border: 1px solid #acacac;
    font-family: sans-serif;
}

.card-content {
    margin-left: 15px;
}

.card-p {
    margin-left: 15px;
}

.card-price {
    margin-left: 80px;
}

.content-box {
    display: flex;
    margin-top: 10px;
}